<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn to Read {{title ? `| ${title}` : ''}}</title>
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/js/toast.js"></script>
  <script src="/public/js/script.js"></script>
</head>

<body>
  {{-- Header --}}
  @include('partials/header')

  {{-- Main --}}
  <main>
    {{{ await $slots.main() }}}
  </main>

  {{-- Footer --}}
  @include('partials/footer')
</body>

</html>