<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordmester.no 😎</title>

  {{-- Open Graph --}}
  @include('partials/openGraph')

  {{-- Favicons --}}
  @include('partials/favicons')

  {{-- Font Awesome --}}
  <link rel="stylesheet" href="/public/fonts/css/fontawesome.min.css">
  <link rel="stylesheet" href="/public/fonts/css/sharp-regular.min.css">
  <link rel="stylesheet" href="/public/fonts/css/sharp-solid.min.css">

  {{-- CSS --}}
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/toast.css">

  {{-- JS --}}
  <script src="/public/js/toast.js"></script>
  <script src="/public/js/helpers.js"></script>
  <script type="module" src="/public/js/script.js"></script>

  {{-- Google analytics --}}
  @include('partials/gtag')
</head>

<body>
  {{-- Header --}}
  @include('partials/header')

  {{-- Main --}}
  <main>
    {{{ await $slots.main() }}}
  </main>

  {{-- Footer --}}
  @include('partials/footer')
</body>

</html>