{{-- Use the layout component and pass data --}}
@component('components/layouts/main', {})

{{-- Main slot (unnamed) --}}
<section class="text-center">
  <h1 class="text-xlg">Velkommen til Ordmester.no 😎</h1>
  <h2>Bli en mester du også!</h2>
  <p>Les ordene og trykk på knappen for å gå til neste ord</p>
</section>

<section class="bg-accent">
  @include('partials/reader')
</section>

@end