<meta property="og:url" content="https://ordmester.no" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="nb_NO" />
<meta property="og:title" content="Lær å lese på en morsom og gratis måte med Ordmester.no" />
<meta property="og:description" content="Ordmester.no er en gratis læringsplattform spesielt utviklet for barn, designet for å gjøre leseopplæring både morsom og engasjerende. På Ordmester.no kan barna velge mellom ulike ordlister som korte ord, lange ord, tall og bokstaver, tilpasset deres læringsnivå og behov. Nettsiden er laget med omtanke og kjærlighet, for å støtte barn og unge i deres leseutvikling på en inspirerende måte." />
<meta property="og:image" content="https://ordmester.no/public/images/og-image.jpg" />